<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tom.springboot.tx.note.infrastructure.dao.user.mapper.UserMapper">

    <select id="qryUserById" resultType="com.tom.springboot.tx.note.infrastructure.dao.user.mapper.UserPO">
        select user_id, user_name
          from user_tbl
         where user_id = #{userId}
    </select>

    <insert id="insertUser" parameterType="com.tom.springboot.tx.note.infrastructure.dao.user.mapper.UserPO">
        insert
          into user_tbl(user_id, user_name, mobile_phone, addr)
        values (#{userId}, #{userName}, #{mobilePhone}, #{address})
    </insert>
</mapper>